aiodns==3.0.0
aiofiles==0.7.0
aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
cffi==1.14.5
chardet==4.0.0
decorator==5.0.9
gevent==21.1.2
greenlet==1.1.0
httptools==0.2.0
idna==3.2
multidict==5.1.0
pycares==4.0.0
pycparser==2.20
sanic==21.3.4
sanic-routing==0.6.2
six==1.16.0
typing-extensions==3.10.0.0
ujson==4.0.2
uvloop==0.15.2
validators==0.18.2
websockets==8.1
yarl==1.6.3
zope.event==4.5.0
zope.interface==5.4.0
